<h1>Home#index</h1>

<!--Uma vitrine dos filmes e quando você clicar em algum 
abre uma página de detalhes com os comentários dos usuários sobre ele-->
 
 <div>

    <p> <%= @movies['items'].first['fullTitle'] %> </p>
    <img src="<%= @movies['items'].first['image'] %>"> 
    <p> <%= @movies['items'].first['imDbRating'] %> </p> 

</div>